/*
Theme Name: PanwarTheme
Theme URI: http://
Author: Shawn Sandy
Author URI: http://
Description: A simple wordpress theme stater toolkit
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Template: pwc
Text Domain: panwar
*/
#page p {
  line-height: 1.6;
}
.home #page > header,
#cover > header,
.home .t-wrapper {
  height: 500px;
  background-position: center center;
  display: block;
}
#page > header,
#cover > header,
.t-wrapper {
  background-image: none;
}
.single-post #page > header,
.single-post #cover > header,
.single-post .t-wrapper {
  display: none;
}
#page > header,
.t-wrapper {
  background-image: url("images/flag-bg-2.jpg");
}
.navbar-brand,
.navbar-nav li a,
.navbar-brand,
.bar li a,
nav .bar li a {
  line-height: 120px;
  height: 120px;
  padding-top: 0;
}
.shrink .navbar-brand,
.shrink .navbar-nav li a,
.shrink .navbar-brand,
.shrink .bar li a,
.shrink nav .bar li a {
  line-height: 50px;
  height: 50px;
  padding-top: 0;
}
nav .navbar-brand img {
  height: 90px;
  width: auto;
}
.navbar-text {
  margin-top: 45px;
  margin-bottom: 40px;
}
aside {
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4 {
  font-family: 'Crete Round', serif;
  margin-top: 0;
  padding-top: 0;
}
#mission {
  padding-bottom: 60px;
}
#mission p.lead {
  font-size: 18px;
}
#mission aside h1 {
  margin-bottom: 20px;
}
#features article {
  padding-top: 30px;
}
#features .blue-bg {
  border-radius: 0;
  height: auto !important;
  text-align: center;
  padding-bottom: 30px;
  background-color: transparent;
  border-top: dotted 1px #1a3197;
  color: #444749;
  border-bottom: dotted 1px #1a3197;
}
#features button {
  margin-bottom: 15px;
  columns: #fff;
}
.navbar {
  /*background-color: RGBA(1, 32, 131, 0.8);*/
  background-color: rgba(255, 255, 255, 0.99);
  /*background-color: rgba(208, 2, 27, 0.98);*/
  border-top: solid 5px #D0021B;
  border-bottom: solid 1px rgba(1, 27, 140, 0.2);
  box-sizing: border-box;
  color: rgba(1, 27, 140, 0.9);
}
.t-wrapper {
  position: relative;
  background-image: none !important;
  background-color: transparent;
}
section#main-menu {
  padding-top: 0;
  border-bottom: solid 1px rgba(1, 27, 140, 0.2);
}
main .tease img {
  padding: 10px;
}
.main-menu .navbar {
  min-height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
.main-menu .navbar-brand,
.main-menu .navbar-nav li a,
.main-menu .navbar-brand,
.main-menu .bar li a,
.main-menu nav .bar li a {
  line-height: 60px;
  height: 60px;
  padding-top: 0;
}
.main-menu .nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(208, 2, 27, 0.9);
  color: #fff;
}
.title-bars {
  background-color: rgba(1, 27, 140, 0.9);
  /*height: 48px;*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
  color: #fff;
}
.blue-bg {
  background-color: #415c9d;
}
.red-bg {
  background-color: #d0021b;
}
.home #features {
  /*padding-top: 20px;*/
  /*background-color: rgba(1, 27, 140, 0.8);*/
  /*color: #fff;*/
}
.blue-bg,
.red-bg {
  height: 270px;
  color: #fff;
}
.blue-bg h1,
.red-bg h1 {
  color: #fff;
}
.blue-bg {
  background-color: #415c9d;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 20px;
}
.red-bg {
  background-color: #d0021b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 20px;
}
main {
  padding-bottom: 60px;
}
footer {
  background-color: rgba(1, 27, 140, 0.8);
  color: #fff;
}
footer .info {
  padding-bottom: 60px;
}
footer ul {
  margin-left: 0;
  padding-left: 0;
}
footer ul li {
  list-style: none;
}
footer a {
  color: #fff;
  border-bottom: dotted 1px;
}
footer a:hover {
  color: #fff;
  border: none;
}
footer p {
  font-size: 15px;
  font-size: 1.5rem;
}
footer p .wp-caption-text {
  font-weight: 500;
  font-size: 16px;
}
section#mission {
  padding-bottom: 60px;
  padding-top: 30px;
  border-bottom: dotted 1px #1a3197;
}
section#action {
  background-color: #d0021b;
  mangin-top: 0;
  padding-top: 30px;
  padding-bottom: 25px;
  color: #fff;
}
section#pinwheel {
  padding-bottom: 30px;
  padding-top: 60px;
}
section#video {
  padding-bottom: 50px;
  padding-top: 50px;
}
footer p,
footer h1 {
  color: #fff;
}
footer a:link,
footer a:visited {
  color: #fff;
}
footer i.fa {
  font-size: 3.2rem;
  font-size: 32px;
}
footer .social a {
  text-decoration: none !important;
  border-bottom: none !important;
}
.fonts.crete {
  font-family: 'Crete Round', serif;
}
#ninja_forms_field_6 select {
  height: 40px;
  line-height: 40px;
}
form.ninja-forms-form select.form-control {
  height: 30px;
  line-height: 30px;
}
form.ninja-forms-form select.form-control {
  padding-top: 40px;
}
core-icon.svg-icon {
  fill: rgba(1, 27, 140, 0.2) !important;
  width: 80px;
  height: 80px;
}
core-icon.ftr {
  width: 36px;
  height: 36px;
}
#top-link a {
  color: #d0021b;
}
.layout {
  display: -webkit-flex;
  display: flex;
  height: 100% !important;
}
.layout.center {
  -webkit-flex-direction: row;
  /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.tablepress tbody td,
.tablepress tfoot th {
  border-top: none;
}
.tablepress tbody td,
.tablepress tfoot th {
  border-top: none;
  margin-bottom: 40px;
}
.tablepress img,
p.attachemnt img {
  margin-bottom: 10px;
  padding: 7px;
  border: 1px dotted #bebebe;
  max-width: none;
}
.trans-all {
  -webkit-transition: all 500ms ease-out 1s;
  -moz-transition: all 500ms ease-out 1s;
  -o-transition: all 500ms ease-out 1s;
  transition: all 500ms ease-out 1s;
}
.hide {
  display: none;
  visibility: hidden;
}
