{% extends base_twig %} 
{% block pinwheel %}
    <section id="pinwheel">
       
        <div class="container">
            
           <div class="row">
               <div class="col-md-8">
                  <img src="{{theme_url}}/images/pinwheel.png" />   
               </div>
               <div class="col-md-4">
                   <aside>
                       <h1 class="large">Pinwheel</h1>
                      
                       <p class="lead">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                           laboris nisi ut aliquip ex ea commodo consequat.  
                       </p>
                   </aside>
               </div>
           </div>
         
        </div>
       
    </section>
{%  endblock %}