{% extends base_twig %} 
{% block pinwheel %}
    <section id="pinwheel">
        <h1>home page</h1>
        <div class="container text-center">
            <img src="{{theme_url}}/images/pinwheel.png" />                 
        </div>
    </section>
{%  endblock %}