{% extends base_twig %}
{% block mission %}
    <section>
        <div class="container">
            <div class="row">
                {{ function('do_shortcode', '[metaslider id=130]') }}
            </div>
        </div>
    </section>


    {#{{ parent() }}#}
    <section id="action">
{#<!--        <pre>{{ dump(events) }}</pre>-->#}

        <div class="container">
            <div class="row">

                <div class="text-center fonts crete">
                    <p class="large">
                        BE KNOWN. Let us know how we can put our resources to work for you
                    </p>
                    <p>
                      <a href="http://www.panhandlewarriorconnection.com/warrior-survey/">
                        <button class="btn btn-lg btn-primary lead">
                              <span class="lead">
                                  Introduce Yourself.
                              </span>
                          </button>
                      </a>
                      </p>

                </div>
            </div>
        </div>
    </section>

<!--    <section id="video">
        <div class="container">
            <div class="text-center">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/t2Fvb7xkoRg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>-->
    <div class="container">
        <!-- <hr /> -->
    </div>
{% endblock  %}


{% block pinwheel %}
    <section id="pinwheel">

        <div class="container">


            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="{{theme_url}}/images/pinwheel-res.png" />
                </div>
                <div class="col-md-6 layout center all">
                    <aside class="">
                        <p class="lead">
                            In partnership with America’s Warrior Partnership, we share the same belief that an improved quality of life is found in the balance of eight areas: housing, employment, strong relationships, spirituality, education, medical, recreation and benefits. Each of these areas are interdependent. We believe the warrior just needs a guide to navigate these areas of life.

                        </p>
                    </aside>
                </div>
            </div>

        </div>

    </section>
{%  endblock %}

{% block content %}
    {% for post in posts %}
        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}

{% endblock %}
